In [7]:
import random
import pandas as pd
import numpy as np
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head(12)

   whoAmI
0   robot
1   robot
2   human
3   robot
4   robot
5   human
6   human
7   human
8   human
9   robot
10  robot
11  human

In [8]:
data['human'] = np.where(data['whoAmI'] == 'human', '1', '0')
data['robot'] = np.where(data['whoAmI'] == 'robot', '1', '0')
data

   whoAmI human robot
0   robot     0     1
1   robot     0     1
2   human     1     0
3   robot     0     1
4   robot     0     1
5   human     1     0
6   human     1     0
7   human     1     0
8   human     1     0
9   robot     0     1
10  robot     0     1
11  human     1     0
12  human     1     0
13  robot     0     1
14  robot     0     1
15  human     1     0
16  robot     0     1
17  robot     0     1
18  human     1     0
19  human     1     0

In [14]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       0      1
1       0      1
2       1      0
3       0      1
4       0      1
5       1      0
6       1      0
7       1      0
8       1      0
9       0      1
10      0      1
11      1      0
12      1      0
13      0      1
14      0      1
15      1      0
16      0      1
17      0      1
18      1      0
19      1      0